.promo-section {
  .container;
  padding-top: 20px;
}

.promo-section__figure {
  background-image: url(../img/background.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 200px;
  margin: 0;
}

.promo-section__img {
  width: 50%;
  margin: 7% 5% 0 5%;
}
